@import "../../scss/variables";

.tag {
  padding: 7px;
  border: none;
  color: $blue;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  background-color: $white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease .5s;
}

.tag-active {
  color: $white;
  background-color: $blue;
}

.tag:hover {
  color: $white;
  background-color: $blue;
}