@import '../../scss/variables';

.menu {
  border-radius: 10px;
  width: 300px;
  position: fixed;
  left: 0;
  top: 80px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: calc(100vh - 80px);
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(15px);
  overflow-y: auto;

  @media screen and (max-width: 600px) {
    width: 200px;
  }
}

.menu::-webkit-scrollbar {
  width: 10px;
}
.menu::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}
.menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  //background: linear-gradient(180deg, $blue-light, $blue, $blue-light);
  background: $blue-light;
}


.other-links-title {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
  text-align: left;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.other-links {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 300;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.link {
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.tags-title {
  padding-left: 30px;
  text-align: left;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
}

.menu-tags {
  padding-left: 30px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  flex-direction: row;
  align-items: start;
}

.menu-hide-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  border: none;
  transition: all .2s;
  background-color: inherit;

}

.menu-hide-button:hover {
  cursor: pointer;
  font-size: 24px;
}

.menu-categories-title {
  padding: 0 0 0 30px;
  margin: 0;
  height: 40px;
  font-size: 16px;
  font-weight: 700;
  color: $black;
  text-align: left;
  line-height: 40px;
}

.menu-hide {
  width: 95px;

  @media screen and (max-width: 600px) {
    width: 80px;
  }
}