@import '../../scss/variables';

.items {
  position: fixed;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 80px;
  left: 310px;
  width: calc(100vw - 320px);
  height: calc(100vh - 80px);
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.items::-webkit-scrollbar {
  width: 10px;
}
.items::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}
.items::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, $blue-light, $blue, $blue-light);
}