@import '../../scss/variables';

.items {
  position: absolute;
  //overflow-y: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  top: 80px;
  left: calc(310px + (100% - 1510px) / 2);
  max-width: 1200px;
  width: calc(100vw - 330px);
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (max-width: 1520px) {
    left: 310px;
  }

  @media screen and (max-width: 600px) {
    left: 210px;
    width: calc(100% - 220px);
  }

}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  p {
    color: $gray;
  }
}

.page-button {
  padding: 7px;
  border: none;
  color: $blue;
  width: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  background-color: $white;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease .5s;
}

.active-page-button {
  color: $white;
  background-color: $blue;
}

.page-button:hover {
  color: $white;
  background-color: $blue;
}

.items-with-menu-hide {

  left: calc(105px + (100% - 1510px) / 2);
  width: calc(100vw - 125px);

  @media screen and (max-width: 1520px) {
    left: 105px;
  }

  @media screen and (max-width: 600px) {
    left: 90px;
    width: calc(100% - 100px);
  }
}


//.items::-webkit-scrollbar {
//  width: 10px;
//}
//.items::-webkit-scrollbar-track {
//  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
//  background-color: #f9f9fd;
//  border-radius: 10px;
//}
//.items::-webkit-scrollbar-thumb {
//  border-radius: 10px;
//  background: linear-gradient(180deg, $blue-light, $blue, $blue-light);
//}