@import '../../scss/variables';

.item {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
  box-shadow: 10px 10px 40px rgba(156, 185, 222, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 60px 30% 1fr 100px min-content;
  grid-template-rows: min-content;
  gap: 10px;
  cursor: pointer;
  transition: all .5s;

  @media screen and (max-width: 1100px) {
    grid-template-columns: 50px 20% 1fr 90px min-content;
  }

  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 20px min-content;
    justify-content: center;
  }

}

.item:hover {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(0, 133, 255, 0.29);
}

.item-image {
  height: 50px;
  width: 50px;
  object-fit: cover;
  justify-self: center;
}

.item-title {
  text-align: left;
  color: $black;
  font-size: 18px;
  font-weight: 700;

  @media screen and (max-width: 900px) {
    text-align: center;
  }
}

.item-description {
  text-align: left;
  color: $gray;
  font-size: 16px;
  font-weight: 500;

  @media screen and (max-width: 900px) {
    text-align: center;
  }
}

.item-button {
  font-size: 16px;
  border-radius: 20px;
  background-color: $blue;
  border: inherit;
  text-transform: uppercase;
  padding: 10px;
  color: $white;
  cursor: pointer;
  transition: all .5s;
  max-width: 110px;
  justify-self: center;
}

.item-button:hover {
  color: $blue;
  background-color: $white;
}