@import '../../scss/variables';

.popup {
  //background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  //transition: visibility 0.5s, opacity 0.5s linear;
}

.popup-container {
  min-height: 500px;
  width: 800px;
  background: linear-gradient(180deg, rgba(185, 251, 255, 0.4) 0%, rgba(227, 220, 255, 0.4) 100%);
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-rows: 100px 50px 1fr 25px 25px;
  gap: 10px;
  justify-items: center;
}

.popup-image {
  height: 100px;
  width: 100px;
  object-fit: cover;

}

.popup-title {
  font-size: 26px;
  color: $black;
  font-weight: 700;

}

.popup-description {
  font-size: 20px;
  color: $gray;
  font-weight: 500;

}

.popup-price {
  font-size: 20px;
  color: $black;
  font-weight: 400;

}

.popup-link {
  color: $blue;
  transition: all .5s;
  font-size: 20px;

}

.popup-link:hover {
  opacity: .7;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  //transition: visibility 0.5s, opacity 0.5s linear;
}

.popup-closer {
  position: absolute;
  top: -60px;
  right: -60px;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: all .5s;
}

.popup-closer:hover {
  opacity: .7;
}