.search-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: inherit;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
  color: rgba(187, 187, 187, 1);
}

//@media (max-width: ) {
//
//}